table {
  width:18%;
}

td { 
  width: 6%;
  text-align: right;
}

.container {
  margin: auto;
  width: 90%;
}

.game {
  margin: auto;
  width: 50%;
  align-content: center;
}

.begin {
  margin: auto;
  width: 50%;
}

.gameField {
  display: block;
  margin: auto;
}

.randomWord {
font-size: 32px;
display: inline;
}

.block {
  height: 40px;
  margin: 20px;
  border: 2 solid black;
}

.inputField {
  display: block;
  width: 30%;
}

.highscore-table {
  text-align: center;
}

.stats {
  display: block;
}
